<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.gxj"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.test.gxj.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.test.gxj.ContentProviderTest"
            android:authorities="cn.bs.testcontentprovider"
            android:exported="true" />
    </application>

</manifest>